body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: "Baloo 2",sans-serif;
}
.main{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  color: #57799d;
  text-align: center;
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.canvas{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #57799d;
  border-radius: 0px;
  max-height: 350px;
  max-width: 400px;
  margin-bottom: 20px;
}

.square{
  transition:0s 15s;
  border-radius: 0px;
  padding: 8px;
  margin: 0px;
}

.square:hover{
  transition: 0.2s ease;
}

.starter button{
  font-family: "Baloo 2",sans-serif;
  font-weight: 800;
  font-size: 15px;
  height: auto;
  width: 150px;
  background-color: #57799d;
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #57799d;
  padding: 5px;
  margin-bottom: 20px;
}

.rainbowMode button{
  font-family: "Baloo 2",sans-serif;
  font-weight: 800;
  font-size: 15px;
  height: auto;
  width: 150px;
  background-color: #57799d;
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  padding: 5px;
  margin-bottom: 20px;
}

.rainbowMode button:hover {
  background-image: 
  linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}


.eraser button{
  font-family: "Baloo 2",sans-serif;
  font-weight: 800;
  font-size: 15px;
  height: auto;
  width: 150px;
  background-color: #57799d;
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #57799d;
  padding: 5px;
  margin-bottom: 20px;
}

.eraser button:hover,
.starter button:hover{
  transition: 0.20s ease;
  background-color: #FFFFFF;
  color: #57799d;
}



.footer{
  background-color: #57799d;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}